firmar_python/app/certs/own/*.crt
firmar_python/app/certs/own/*.key
firmar_python/app/certs/own/GDEcert.cer
firmar_python/app/certs/own/yunga_clave_csr_key.pem
firmar_python/app/config/.env
firmar_python/app/.env
firmar_python/app/*.pem
firmar_python/app/*.ttf
firmar_python/app/*.pdf
firmar_python/app/__pycache__
firmar_python/firma_cliente/dssapp/.idea
firmar_python/firma_cliente/dssapp/dss-demo-webapp/target
firmar_python/firma_cliente/__pycache__
firmar_python/firma_cliente/*.spec
firmar_python/firma_cliente/dist
firmar_python/firma_cliente/build
firmar_python/firma_cliente/token_lib.json
firmar_python/app/*.cer
firmar_python/app/*.key
.idea
.vscode
actions-runner
.venv