firmar_python/*.crt
firmar_python/yunga_clave_csr_key
firmar_python/.env
firmar_python/*.pem
firmar_python/*.ttf
firmar_python/*.pdf
firmar_python/__pycache__
firmar_python/firma_cliente/dssapp/.idea
firmar_python/firma_cliente/dssapp/dss-demo-webapp/target
firmar_python/firma_cliente/__pycache__
firmar_python/firma_cliente/*.spec
firmar_python/firma_cliente/dist
firmar_python/firma_cliente/build
firmar_python/firma_cliente/token_lib.json
