firmar_python/app/certs/own/*.crt
firmar_python/app/certs/own/*.key
firmar_python/app/certs/own/*.pem
firmar_python/app/certs/own/*.cer
firmar_python/app/config/.env
firmar_python/firma_cliente/dssapp/.idea
firmar_python/firma_cliente/dssapp/dss-demo-webapp/target
firmar_python/firma_cliente/__pycache__
firmar_python/firma_cliente/dist
firmar_python/firma_cliente/build
.idea
.vscode
actions-runner
.venv
.cursorrules
__pycache__/
*.exe
firmar_python/firma_cliente/instalador/Tuquito-v2_2_console/
firmar_python/firma_cliente/instalador/Tuquito-v2_2/
firmar_python/firma_cliente/instalador/TuquitoInstaller2_2_console.exe
firmar_python/firma_cliente/instalador/TuquitoInstaller2_2.exe
docker-compose.yml
/env/*.env
/dashboard/.next
/dashboard/node_modules