<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout.html}" th:with="currentPage=#{label.dss}">
	<body>		
		<div layout:fragment="content">
			<h1>Firmador Digital de Documentos</h1>
			<p>Esta aplicación permite firmar y validar firmas en documentos PDF (unicamente este formato).</p>
				<div><a class="btn btn-primary" th:href="@{/sign-a-document}" >Firmar un PDF</a></div>
			<div class="mt-3"></div>
				<div><a class="btn btn-primary" th:href="@{/validation}" >Validar una Firma</a></div>
		</div>
	</body>
</html>