DB_NAME=tapir
DB_USER=postgres
DB_PASSWORD='replace_me'
DB_HOST=127.0.0.1
DB_PORT=5432
PRIVATE_KEY_PASSWORD=replace_me
PRIVATE_KEY_PATH=/app/certs/own/yunga_private_csr.key
CERTIFICATE_PATH=/app/certs/own/yunga_cert.cer
LOGO_YUNGA_FILE=/app/assets/images/logo_yunga.png
